In [31]:
import numpy as np
import pandas as pd
from climate2_getClimate import *

In [157]:
df = pd.read_csv('../Orders.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [158]:
#過濾nan，篩選台北市資料
df = df[df['City'] == df['City']]
df = df[df['City'].str.contains("台北市")]

In [159]:
#確認city只剩台北市
df["City"].unique()

array(['台北市'], dtype=object)

In [160]:
df.head(5)

,DateId,MemberId,OrderGroupCode,TrackSourceTypeDef,TrackDeviceTypeDef,PayProfileTypeDef,SalesOrderSlaveId,SalePageId,IsMajor,IsGift,...,SalesOrderReceiverId,City,District,ZipCode,StoreName,StoreId,DeliverTypeDef,StatusDef,ReturnGoodsDateId,CauseDef
35,20150703,1388138,b'$@BN\xe5\x13\x87A\x94x?A\xde\xc6t\xbe\x81\x9...,Web,PC,SevenEleven,4457962,1119593,True,False,...,1480946,台北市,中山區,104.0,松運門市,972778,SevenEleven,Finish,NaN,NaN
36,20150703,1388138,b'$@BN\xe5\x13\x87A\x94x?A\xde\xc6t\xbe\x81\x9...,Web,PC,SevenEleven,4457963,1119593,True,False,...,1480946,台北市,中山區,104.0,松運門市,972778,SevenEleven,Finish,NaN,NaN
37,20150703,1388138,b'$@BN\xe5\x13\x87A\x94x?A\xde\xc6t\xbe\x81\x9...,Web,PC,SevenEleven,4457964,1194586,True,False,...,1480946,台北市,中山區,104.0,松運門市,972778,SevenEleven,Finish,NaN,NaN
38,20150703,1388138,b'$@BN\xe5\x13\x87A\x94x?A\xde\xc6t\xbe\x81\x9...,Web,PC,SevenEleven,4457965,1194586,True,False,...,1480946,台北市,中山區,104.0,松運門市,972778,SevenEleven,Finish,NaN,NaN
39,20150703,1388138,b'$@BN\xe5\x13\x87A\x94x?A\xde\xc6t\xbe\x81\x9...,Web,PC,SevenEleven,4457966,1162456,True,False,...,1480946,台北市,中山區,104.0,松運門市,972778,SevenEleven,Finish,NaN,NaN

In [181]:
# 取出 "SalesOrderSlaveDateTime、City、SalesOrderSlaveTotalPayment"
taipei_data = df[['SalesOrderSlaveDateTime', 'City', 'SalesOrderSlaveTotalPayment']]

In [188]:
taipei_data['SalesOrderSlaveDateTime'] = pd.to_datetime(taipei_data['SalesOrderSlaveDateTime']).apply(lambda x: x.date()).astype(str)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [194]:
#data set裡有1073不同天的日期
dates = taipei_data["SalesOrderSlaveDateTime"].unique()
len(dates)

1073

In [219]:
#時間關係，只先爬後面30個日期
last_30_dates = dates[1043:]
last_30_dates

array(['2017-02-16', '2017-02-22', '2017-02-19', '2017-02-28',
       '2017-02-27', '2017-02-06', '2017-03-04', '2017-03-05',
       '2017-02-15', '2017-03-14', '2017-03-11', '2017-03-12',
       '2017-03-15', '2017-03-01', '2017-03-18', '2017-03-06',
       '2017-03-08', '2017-03-09', '2017-03-07', '2017-03-13',
       '2017-03-16', '2017-03-19', '2017-03-02', '2017-03-10',
       '2017-03-20', '2017-03-25', '2017-03-27', '2017-03-28',
       '2017-03-26', '2017-03-24'], dtype=object)

In [224]:
taipei_precp = list()
taipei_temperature = list()
for i in range(len(last_30_dates)):
    print(last_30_dates[i])
    result = getClimate("臺北市", last_30_dates[i])
    taipei_precp.append(result[0])
    taipei_temperature.append(result[1])

2017-02-16
2017-02-22
2017-02-19
2017-02-28
2017-02-27
2017-02-06
2017-03-04
2017-03-05
2017-02-15
2017-03-14
2017-03-11
2017-03-12
2017-03-15
2017-03-01
2017-03-18
2017-03-06
2017-03-08
2017-03-09
2017-03-07
2017-03-13
2017-03-16
2017-03-19
2017-03-02
2017-03-10
2017-03-20
2017-03-25
2017-03-27
2017-03-28
2017-03-26
2017-03-24

In [225]:
print(len(last_30_dates))
print(len(taipei_precp))
print(len(taipei_temperature))

30
30
30

In [227]:
taipei_climate = pd.DataFrame({'SalesOrderSlaveDateTime': last_30_dates, 'Precp': taipei_precp, 'Temperature': taipei_temperature})

In [228]:
taipei_climate

   SalesOrderSlaveDateTime  Precp  Temperature
0               2017-02-16   0.00        15.59
1               2017-02-22   0.00        18.45
2               2017-02-19   0.00        17.65
3               2017-02-28   0.03        13.73
4               2017-02-27   0.00        13.95
5               2017-02-06   0.00        14.72
6               2017-03-04   0.00        15.68
7               2017-03-05   0.00        18.61
8               2017-02-15   0.00        16.99
9               2017-03-14   0.00        12.59
10              2017-03-11   0.00        18.51
11              2017-03-12   0.03        19.03
12              2017-03-15   0.00        15.40
13              2017-03-01   0.00        14.12
14              2017-03-18   0.37        18.08
15              2017-03-06   0.01        12.77
16              2017-03-08   0.02        12.75
17              2017-03-09   0.07        15.64
18              2017-03-07   0.12        11.21
19              2017-03-13   0.47        13.48
20              2017-03-16   1.76        14.58
21              2017-03-19   0.00        18.45
22              2017-03-02   0.00        11.12
23              2017-03-10   4.05        15.44
24              2017-03-20   0.00        20.20
25              2017-03-25   1.35        12.43
26              2017-03-27   0.00        17.15
27              2017-03-28   0.00        17.77
28              2017-03-26   0.00        12.52
29              2017-03-24   0.00        19.18

In [229]:
taipei_merge = pd.merge(taipei_data, taipei_climate, on='SalesOrderSlaveDateTime')

In [230]:
#以日期為基準合併後的df
taipei_merge

,SalesOrderSlaveDateTime,City,SalesOrderSlaveTotalPayment,Precp,Temperature
0,2017-02-16,台北市,125.0,0.0,15.59
1,2017-02-16,台北市,125.0,0.0,15.59
2,2017-02-16,台北市,125.0,0.0,15.59
3,2017-02-16,台北市,125.0,0.0,15.59
4,2017-02-16,台北市,199.0,0.0,15.59
5,2017-02-16,台北市,199.0,0.0,15.59
6,2017-02-16,台北市,388.0,0.0,15.59
7,2017-02-16,台北市,490.0,0.0,15.59
8,2017-02-16,台北市,277.0,0.0,15.59
9,2017-02-16,台北市,388.0,0.0,15.59
10,2017-02-16,台北市,520.0,0.0,15.59
11,2017-02-16,台北市,199.0,0.0,15.59
12,2017-02-16,台北市,199.0,0.0,15.59
13,2017-02-16,台北市,241.0,0.0,15.59
14,2017-02-16,台北市,304.0,0.0,15.59
15,2017-02-16,台北市,196.0,0.0,15.59
16,2017-02-16,台北市,428.0,0.0,15.59
17,2017-02-16,台北市,196.0,0.0,15.59
18,2017-02-16,台北市,382.0,0.0,15.59
19,2017-02-16,台北市,196.0,0.0,15.59
20,2017-02-16,台北市,196.0,0.0,15.59
21,2017-02-16,台北市,246.0,0.0,15.59
22,2017-02-16,台北市,459.0,0.0,15.59
23,2017-02-16,台北市,194.0,0.0,15.59
24,2017-02-16,台北市,194.0,0.0,15.59
25,2017-02-16,台北市,199.0,0.0,15.59
26,2017-02-16,台北市,399.0,0.0,15.59
27,2017-02-16,台北市,395.0,0.0,15.59
28,2017-02-16,台北市,250.0,0.0,15.59
29,2017-02-16,台北市,277.0,0.0,15.59
...,...,...,...,...,...
20388,2017-03-24,台北市,299.0,0.0,19.18
20389,2017-03-24,台北市,178.0,0.0,19.18
20390,2017-03-24,台北市,181.0,0.0,19.18
20391,2017-03-24,台北市,181.0,0.0,19.18
20392,2017-03-24,台北市,416.0,0.0,19.18
20393,2017-03-24,台北市,181.0,0.0,19.18
20394,2017-03-24,台北市,166.0,0.0,19.18
20395,2017-03-24,台北市,183.0,0.0,19.18
20396,2017-03-24,台北市,290.0,0.0,19.18
20397,2017-03-24,台北市,290.0,0.0,19.18
20398,2017-03-24,台北市,223.0,0.0,19.18
20399,2017-03-24,台北市,311.0,0.0,19.18
20400,2017-03-24,台北市,179.0,0.0,19.18
20401,2017-03-24,台北市,179.0,0.0,19.18
20402,2017-03-24,台北市,378.0,0.0,19.18
20403,2017-03-24,台北市,382.0,0.0,19.18
20404,2017-03-24,台北市,390.0,0.0,19.18
20405,2017-03-24,台北市,267.0,0.0,19.18
20406,2017-03-24,台北市,335.0,0.0,19.18
20407,2017-03-24,台北市,382.0,0.0,19.18
20408,2017-03-24,台北市,286.0,0.0,19.18
20409,2017-03-24,台北市,404.0,0.0,19.18
20410,2017-03-24,台北市,179.0,0.0,19.18
20411,2017-03-24,台北市,199.0,0.0,19.18
20412,2017-03-24,台北市,199.0,0.0,19.18
20413,2017-03-24,台北市,199.0,0.0,19.18
20414,2017-03-24,台北市,299.0,0.0,19.18
20415,2017-03-24,台北市,45.0,0.0,19.18
20416,2017-03-24,台北市,308.0,0.0,19.18
20417,2017-03-24,台北市,318.0,0.0,19.18